{% extends "layout.html" %} {% block content %}
<script type="module" class="init">
  var datatable;

  $(document).ready(function () {
    // Table definition
    datatable = $("#project_overview_table").DataTable({
      ajax: {
        url: "/api/project/all",
        dataSrc: "projects",
      },
      columns: [
        {
          data: null,
          render: function (data) {
            return '<button class="btn btn-success chooseProjectButton">Choose</button>';
          },
        },
        { data: "short_name" },
        { data: "long_name" },
        {
          data: null,
          render: function (data) {
            return '<button class="btn btn-primary editProjectButton">Settings</button><button class="btn btn-primary deleteProjectButton">Delete</button>';
          },
        },
      ],
      columnDefs: [{ className: "dt-center", targets: "_all" }],
      autoWidth: false,
    });

    // Handle interactions with the table and its elements
    $("#project_overview_table").on("draw.dt", function () {
      // Choose button
      $(".chooseProjectButton").click(function () {
        // Get project object of this row
        let row = $(this).closest("tr");
        let rowObject = datatable.row(row).data();

        // Find project id and redirect to correct page
        let projectID = rowObject["id"];
        window.location.replace("/project/" + projectID);
      });

      // Edit button
      $(".editProjectButton").click(function () {
        // Get project object of this row
        let row = $(this).closest("tr");
        let projectObject = datatable.row(row).data();

        $.get({
          url: "/api/user/all",
        }).then((response) => {
          show_project_modal(projectObject, response.users);
        });
      });

      // Delete button
      $(".deleteProjectButton").click(function () {
        // Get project object of this row
        let row = $(this).closest("tr");
        let projectObject = datatable.row(row).data();

        $.ajax({
          url: "/api/project?id=" + projectObject["id"],
          type: "DELETE",
        }).then(
          () => {
            console.log("Deleted project with id " + projectObject["id"]);
            datatable.ajax.reload();
          },
          (response) => {
            alert("Could not delete project again");
            console.log(response);
          }
        );
      });

      // New project
      $("#addProjectButton").click(function () {
        $.get({
          url: "/api/user/all",
        }).then((response) => {
          show_project_modal(null, response.users);
        });
      });
    });
  });
</script>
<div>
  <h1>Project Overview</h1>
  <table
    id="project_overview_table"
    class="table table-striped table-hover dt-responsive nowrap"
  >
    <thead>
      <tr>
        <th>Project</th>
        <th>Short Name</th>
        <th>Long Name</th>
        <th>Edit</th>
      </tr>
    </thead>
  </table>

  <div>
    {% if is_technical_admin %}
    <button class="btn btn-primary" id="addProjectButton">Add Project</button>
    {% endif %}
    <button
      class="btn btn-primary"
      id="addUsersButton"
      onclick="window.location.href = '/users'"
    >
      Users
    </button>
  </div>
</div>
{% endblock %} {% block forms %} {% include
'forms/project_configuration_form.html' %} {% endblock %}
